html {
  min-height: 100%; }

body {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
  min-height: 100%; }

div {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px; }

form {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 8px #006622; }

.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px; }

h1 {
  position: absolute;
  margin: 0;
  font-size: 50px;
  color: #fff;
  z-index: 2;
  line-height: 83px; }

.banner {
  position: relative;
  height: 250px;
  background-size: cover;
  background-color: #006622;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%; }

input {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: calc(100% - 10px);
  padding: 5px; }
  input[type="date"] {
    padding: 4px 5px; }
    input[type="date"]::-webkit-inner-spin-button {
      display: none; }
    input[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      font-size: 20px;
      color: #00b33c;
      right: 1%;
      z-index: 2;
      opacity: 0;
      cursor: pointer; }

select {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px; }

textarea {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: calc(100% - 12px);
  padding: 5px; }

label {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px; }

legend {
  padding: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #006622; }

.item {
  position: relative;
  margin: 10px 0; }
  .item:hover p {
    color: #006622; }
  .item:hover i {
    color: #006622; }
  .item input:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0 #006622;
    color: #006622; }
  .item select:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0 #006622;
    color: #006622; }
  .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0 #006622;
    color: #006622; }
  .item span {
    color: red; }
  .item i {
    position: absolute;
    font-size: 20px;
    color: #00b33c;
    right: 1%;
    top: 30px;
    z-index: 1; }

.columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap; }
  .columns div {
    width: 48%; }

.btn-block {
  margin-top: 10px;
  text-align: center; }

button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #006622;
  font-size: 16px;
  color: #fff;
  cursor: pointer; }
  button:hover {
    background: #00b33c; }
