@mixin default {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}

// For using in input, select, textarea
@mixin defaultForForm {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

@mixin defaultHover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0  $green;
    color: $green;
}

@mixin defaultChangeTag {
    position: absolute;
    font-size: 20px;
    color: $lightgreen;
}

input {
    @include default;
    @include defaultForForm;
    width: calc(100% - 10px);
    padding: 5px;

    &[type="date"] {
        padding: 4px 5px;

        &::-webkit-inner-spin-button {
            display: none;
        }

        &::-webkit-calendar-picker-indicator {
            @include defaultChangeTag;
            right: 1%;
            z-index: 2;
            opacity: 0;
            cursor: pointer;
        }
    }

    &:hover {
        &::placeholder {
            $color: $green;
        }
    }
}

select {
    @include default;
    @include defaultForForm;
}

textarea {
    @include default;
    @include defaultForForm;
    width: calc(100% - 12px);
    padding: 5px;
}

label {
    @include default;
}

legend {
    padding: 10px;      
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: $green;
}

.item {
    position: relative;
    margin: 10px 0;

    &:hover {
        p {
            color: $green;
        }
        i {
            color: $green;
        }
    }

    input {
        &:hover {
            @include defaultHover;
        }
    }

    select {
        &:hover {
            @include defaultHover;
        }
    }

    textarea {
        &:hover {
            @include defaultHover;
        }
    }

    span {
        color: red;
    }

    i {
        @include defaultChangeTag;
        right: 1%;
        top: 30px;
        z-index: 1;
    }
}

.columns {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:wrap;

    div {
        width:48%;
    }
}