legend {
    padding: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    color: $white;
    background-color: $green;

    .reservation {
        display:flex;
        justify-content:space-between;
        flex-direction:row;
        flex-wrap:wrap;
        
        div {
            width:48%;
        }

        input {
            @include default;
            @include defaultBorder;
            width: calc(100% - 10px);
            padding: 5px;
        
            &:hover {
                &::placeholder {
                    $color: $green;
                }
            }
        }
        
        label {
            @include default;
        }
        
        &__item {
            position: relative;
            margin: 10px 0;
        
            input {
                &:hover {
                    @include defaultHover;
                }
            }
        
            span {
                color: red;
            }
        }
    }

    .dates {
        display:flex;
        justify-content:space-between;
        flex-direction:row;
        flex-wrap:wrap;
        
        div {
            width:48%;
        }
    
        input {
            @include default;
            @include defaultBorder;
            width: calc(100% - 10px);
            padding: 5px;
        
            &[type="date"] {
                padding: 4px 5px;
        
                &::-webkit-inner-spin-button {
                    display: none;
                }
        
                &::-webkit-calendar-picker-indicator {
                    position: absolute;
                    font-size: 20px;
                    color: $lightgreen;
                    right: 1%;
                    z-index: 2;
                    opacity: 0;
                    cursor: pointer;
                }
            }
        
            &:hover {
                &::placeholder {
                    $color: $green;
                }
            }
        }
        
        select {
            @include default;
            @include defaultBorder;
        }
        
        textarea {
            @include default;
            @include defaultBorder;
            width: calc(100% - 12px);
            padding: 5px;
        }
        
        label {
            @include default;
        }
        
        &__item {
            position: relative;
            margin: 10px 0;
        
            &:hover {
                p {
                    color: $green;
                }
                i {
                    color: $green;
                }
            }
        
            input {
                &:hover {
                    @include defaultHover;
                }
            }
        
            select {
                &:hover {
                    @include defaultHover;
                }
            }
        
            textarea {
                &:hover {
                    @include defaultHover;
                }
            }
        
            span {
                color: red;
            }
        
            i {
                position: absolute;
                font-size: 20px;
                color: $lightgreen;
                right: 1%;
                top: 30px;
                z-index: 1;
            }
        }
    }
}