.btn-block {
    margin-top: 10px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background:  $green;
    font-size: 16px;
    color: #fff;
    cursor: pointer;

    &:hover {
    background:  $lightgreen;
    }
}